{% block global_error %}
  <div id="error" class="alert alert--error alert--hidden">{% block words_service_unavailable %}Unfortunately, this service is unavailable. Please try again later.{% endblock %}</div>
{% endblock %}
