<!DOCTYPE html>
<html lang="en">
{{> "partials/head.hbs" }}
<body class="page page--homepage">
    <div class="page__container">
        {{> "partials/header.hbs" }}
        {{> "partials/errors.hbs" }}
        
        <div class="letter letter--striped letter--spaced">
            <div class="js--stage-form">
                <div class="letter__body">
                    <textarea
                        id="message"
                        rows="10"
                        class="input input--textarea input--drag-down"
                        autocomplete="off"
                        autofocus="autofocus"
                    >Dear John Doe,

here is the password you requested:

p4ssw0rd

This message will be available for 15min after you open it,
so please store this password securely on a post-it near your computer.

Just kidding!</textarea>
                </div>
                <div class="letter__footer letter__footer--separator">
                    <div class="u--danger">
                        PS: This message destroys itself in about

                        <select id="delay" name="delay">
                            <option value="15">15min</option>
                            <option value="30">30min</option>
                            <option value="60">1h</option>
                            <option value="120">2h</option>
                            <option value="1440">24h</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="js--stage-url" style="display: none;">
                <div class="letter__body">
                    <textarea class="input input--textarea input--url-holder js--select-text" id="url" readonly="readonly" rows="{% block words_after_encryption_result_num_rows %}6{% endblock %}"></textarea>
                </div>
                <div class="letter__footer">
                    This url is available for about <span id="selected-delay">15</span>min<br>
                    <strong>after</strong> someone visits it for the first time.
                </div>
            </div>
        </div>

        <div class="u--center">
            <button class="btn btn--primary js--encrypt-message">Encrypt message</button>
        </div>
    </div>
    {{> "partials/foot.hbs" }}

    <script type="text/template" id="template-result-format">The following link will be available for {minutes} min AFTER you visit it for the first time: 
    
    {url}</script>
</body>
</html>
