{% extends 'layout.njk' %}

{% block classes %}page page--homepage{% endblock %}

{% block content %}
    <div class="letter letter--striped letter--spaced">
        <div class="js--stage-form">
            <div class="letter__body">
                <textarea
                    id="message"
                    rows="10"
                    class="input input--textarea input--drag-down"
                    autocomplete="off"
                    autofocus="autofocus"
                >{% block words_message_input_placeholder %}{{"Dear John Doe,\n\nhere is the password you requested:\n\np4ssw0rd\n\nThis message will be available for 15min after you open it,\nso please store this password securely on a post-it near your computer.\n\nJust kidding!"}}{% endblock %}</textarea>
            </div>
            <div class="letter__footer letter__footer--separator">
                <div class="u--danger">
                    {% block words_before_encryption_availability_note %}PS: This message destroys itself in about{% endblock %}

                    <select id="delay" name="delay">
                      {% for minutes, label in delays %}
                        <option value="{{ minutes }}">{{ label }}</option>
                      {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <div class="js--stage-url" style="display: none;">
            <div class="letter__body">
                <textarea class="input input--textarea input--url-holder js--select-text" id="url" readonly="readonly" rows="{% block words_after_encryption_result_num_rows %}6{% endblock %}"></textarea>
            </div>
            <div class="letter__footer">
                {% block words_after_encryption_availability_note %}
                    This url is available for about <span id="selected-delay">15</span>min<br>
                    <strong>after</strong> someone visits it for the first time.
                {% endblock %}
            </div>
        </div>
    </div>

    <script id="template-result-format" type="text/template">{% block words_after_encryption_result_format %}The following link will be available for %minutes% min AFTER you visit it for the first time:

%url%{% endblock %}</script>

    <div class="u--center">
        <button class="btn btn--primary js--encrypt-message">{% block words_encrypt_message_button %}Encrypt message{% endblock %}</button>
    </div>
{% endblock %}
