<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Secure password sharing | Cryptletter{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
        <script src="/initial.js"></script>
        {% block stylesheets %}{% endblock %}
    </head>
    <body class="is--not-ready">
        {% block body %}
        <div class="{% block classes %}page{% endblock %}">
            <div class="page__container">
                {% include "partials/header.njk" %}
                {% block content %}{% endblock %}
            </div>
        </div>
        {% endblock %}
        {% block javascripts %}{% endblock %}
        <script src="/bundle.js"></script>
    </body>
</html>
