.btn {
    font-size: 16px;
    font-family: Georgia;
    padding: 11px 30px 12px;
  
    &:disabled {
      opacity: .6;
      cursor: not-allowed;
    }
  }
  
  .btn--primary {
    color: #fff;
    background-color: #24272B;
    border: 1px solid #000000;
    box-shadow: 0 1px 1px 0 #000000, 0 2px 3px 0 rgba(0,0,0,0.32);
    transition: background-color .2s ease-in-out, color .2s ease-in-out;
  
    &:hover {
      background-color: lighten(#24272B, 6%);
    }
  
    &:active {
      color: darken(#fff, 20%);
      background-color: darken(#24272B, 2%);
    }
  
    &:disabled {
      background-color: #24272B;
    }
  }
  
  .btn--nano {
    font-family: 'system-ui';
    font-size: 11px;
    color: #aaa;
    border: 1px solid transparent;
    background-color: transparent;
    text-transform: uppercase;
    padding: 2px 4px;
  
    &:hover {
      color: #222;
      border-color: #222;
    }
  
    &:disabled {
      border-color: transparent;
      color: #aaa;
    }
  }
