<div class="page__header">
    <h1 class="page__title"><a class="logo" href="/">Cryptletter</a></h1>
    <div class="page__slogan">
        Encrypted self-destructing messages.<br>
        Even Cruise would like to have it!
    </div>
</div>
