<noscript>
    <div class="noscript-message">
        <h1>This service requires Javascript</h1>
        <p>Please use a browser which supports Javascript or enable it and reload this page.</p>
    </div>
</noscript>
