PS: This message destroys itself in about

<select id="delay" name="delay">
    <option value="15">15min</option>
    <option value="30">30min</option>
    <option value="60">1h</option>
    <option value="120">2h</option>
    <option value="1440">24h</option>
</select>
