<!DOCTYPE html>
<html lang="en">
{{> "partials/head.hbs" }}

<body class="page page--unavailable is--not-ready">
    {{> "partials/noscript.hbs" }}
    {{> "partials/header.hbs" }}

    <div class="page__container">
        <div class="page__container">
            {{> "text/404--message.hbs"}}
        </div>
    </div>
    {{> "partials/foot.hbs" }}
</body>

</html>
