<!DOCTYPE html>
<html lang="en">
{{> "partials/head.hbs" }}

<body class="page page--homepage is--not-ready">
    {{> "partials/noscript.hbs" }}

    <div class="page__container">
        {{> "partials/header.hbs" }}
        {{> "partials/errors.hbs" }}

        <div class="letter letter--striped letter--spaced">
            <div class="js--stage-form">
                <div class="letter__body">
                    <textarea id="message" rows="10" class="input input--textarea input--drag-down" autocomplete="off"
                        autofocus="autofocus">{{> "text/index--message-intro.hbs"}}</textarea>
                </div>
                <div class="letter__footer letter__footer--separator">
                    <div class="u--danger">
                        {{> "text/index--message-lifetime-hint.hbs"}}
                    </div>
                </div>
            </div>
            <div class="js--stage-url" style="display: none;">
                <div class="letter__body">
                    <textarea class="input input--textarea input--url-holder js--select-text" id="url"
                        readonly="readonly" rows="6"></textarea>
                </div>
                <div class="letter__footer">
                    {{> "text/index--message-lifetime-hint-after.hbs"}}
                </div>
            </div>
        </div>

        <div class="u--center">
            <button class="btn btn--primary js--encrypt-message">{{> "text/index--button-encrypt.hbs"}}</button>
        </div>
    </div>
    {{> "partials/foot.hbs" }}

    <script type="text/template" id="template-result-format">{{> "text/index--result-template.hbs"}}</script>
</body>

</html>
